/*!
 * Roots 6.5.0
 */

@import "bootstrap/bootstrap.less";

/* ==========================================================================
   Base
   ========================================================================== */

body { }



/* ==========================================================================
   Header
   ========================================================================== */

.banner { }



/* ==========================================================================
   Content
   ========================================================================== */

.content { }



/* ==========================================================================
   Primary Content
   ========================================================================== */

.main {

	#video-carousel {
		.make-xs-column (8);
		float:none;
		margin-left:auto;
		margin-right:auto;
	
		.carousel-caption {
			position: relative;
			right: 0;
			left: 0;
			bottom: 0;
			padding: 10px 0;
			border: 2px solid black;
			
			:before {
				content:" ";
				border-top: 30px solid black;
				position:absolute;
				bottom:-30px;
				border-left:30px solid transparent;
				left:-1px;
			}
				
			:after {
				content:" ";
				border-top:30px solid black;
				position:absolute;
				bottom:-30px;
				border-right:30px solid transparent;
				right:-1px;
			}
			
		
			h3 {
				margin-top: 10px;
				border-top: 2px solid @gray;
				border-bottom: 2px solid @gray;
			}
			
			a {
				color: @gray-dark;
				text-transform: capitalize;
			}
			
			a:hover {
				text-decoration: none;
			}
		}
		
		.carousel-content {
			margin: 0 30px;
		}
	}
	
}

/* Gallery Shortcode */
.gallery-row { padding: 15px 0; }



/* ==========================================================================
   Sidebar
   ========================================================================== */

.sidebar { }



/* ==========================================================================
   Posts
   ========================================================================== */

.hentry header { }
.hentry time { }
.hentry .byline { }
.hentry .entry-content { }
.hentry footer { }



/* ==========================================================================
   Footer
   ========================================================================== */
   
.content-info {
background: @gray-darker;
color: @gray-lighter;
}



/* ==========================================================================
   WordPress Generated Classes
   See: http://codex.wordpress.org/CSS#WordPress_Generated_Classes
   ========================================================================== */

.aligncenter { display: block; margin: 0 auto; }
.alignleft { float: left; }
.alignright { float: right; }
figure.alignnone { margin-left: 0; margin-right: 0; }



/* ==========================================================================
   Media Queries
   ========================================================================== */

@media (min-width: @screen-sm) { }

@media (min-width: @screen-md) { }

@media (min-width: @screen-lg) { }
